.page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0F0F0F;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        font-weight: 600;
        color: #FFFFFF;
        padding: 20px 30px 0 30px;
        margin-bottom: 46px;
    }

    &__new-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #FFFFFF;
        background-color: #7F00FF;
        border-radius: 8px;
        padding: 12px 20px;
        gap: 5px;
        transition: filter 0.3s ease-out;

        .icon {
            width: 20px;
            height: 20px;
            
            path {
                stroke: currentColor !important;
            }
        }

        &:hover {
            filter: brightness(0.8)
        }
    }

    &__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: #FFFFFF;
        padding-left: 30px;
        gap: 16px;
        margin-bottom: 64px;
    }

    &__card-wrapper {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scrollbar-width: none;
        gap: 26px;

        &::-webkit-scrollbar {
            display: none;
        }

        & > * {
            flex-shrink: 0;
        }
    }

    .add-button {
        width: 48px;
        height: 400px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7F00FF;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        transition: filter 0.3s ease-out;

        &:hover {
            filter: brightness(0.8);
        }
    }

    .add-icon {
        width: 24px;
        height: 24px;

        path {
            stroke: #FFFFFF !important;
        }
    }
}