.card {
    position: relative;
    width: 320px;
    height: 400px;
    border-radius: 16px;
    box-shadow: 4px 6px 25px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    cursor: pointer;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
    }

    &__front {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
        z-index: 2;
    }
    
    &__view {
        width: 100%;
        padding: 8px;
    }

    &__view-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #FFFFFF;
        border-radius: 12px;
        background-color: #3B82F6;
        padding: 8px 0;
        gap: 5px;
        cursor: pointer;
        transition: filter 0.3s ease-out;
        
        &:hover {
            filter: brightness(0.8)
        }
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        gap: 12px;
        padding: 12px;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__name {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
    }
    
    &__rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    &__rating-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
    }

    .delete-button {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #FFFFFF;
        background-color: #7F00FF;
        border-radius: 8px;
        gap: 5px;
        cursor: pointer;
        transition: filter 0.3s ease-out;
        
        &:hover {
            filter: brightness(0.6)
        }
    }
}