.header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
    padding: 0 30px;
    z-index: 999;

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        user-select: none;
        cursor: pointer;
        gap: 5px;

        span {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: #FFFFFF;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px; // 16 пикселей смотрелись очень маленьким расстоянием
    }

    &__notifications {
        width: 24px;
        height: 24px;
        color: #FFFFFF;
        cursor: pointer;
        transition: color 0.3s ease-out;

        .icon path {
            stroke: currentColor !important;
        }

        &:hover {
            color: #3B82F6
        }
    }

    .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        user-select: none;
        cursor: pointer;
        gap: 7px;

        &__avatar {
            width: 36px;
            height: 36px;
            border: 1px solid #3B82F6;
            border-radius: 50%;
            object-fit: cover;
        }

        &__details {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 4px;
        }

        &__welcome {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #808080;
        }

        &__name {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #FFFFFF;
        }
    }

    .burger {
        position: relative;

        &__menu {
            width: 24px;
            height: 24px;
            color: #3B82F6;
            user-select: none;
            cursor: pointer;
            transition: filter 0.3s ease-out;

            .icon path {
                stroke: currentColor !important;
            }

            &:hover {
                filter: brightness(0.8);
            }
        }

        &__dropdown {
            position: absolute;
            top: calc(100% + 16px);
            right: 0px;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            margin: 0;
            overflow: hidden;
            z-index: 999;
        }

        &__item {
            width: 100%;
            background-color: #2A2A2A;
            transition: background-color 0.3s ease-out;

            &:hover {
                background-color: #1A1A1A;
            }

            .link {
                display: block;
                width: 100%;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 500;
                color: #FFFFFF;
                padding: 12px 20px;
                transition: color 0.3s ease-out;

                .icon {
                    width: 20px;
                    height: 20px;
                    
                    path {
                        stroke: currentColor !important;
                    }
                }

                &:hover {
                    color: #3B82F6;
                }
            }

            &:last-child .link {
                color: red;
            }
        }
    }
}
