.footer {
    width: 100%;
    height: 144px;
    padding: 0 60px;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #333333;
        padding: 26px 0;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        color: #808080;

        &--title {
            font-size: 32px;
            font-weight: 600;
        }

        &--description {
            font-size: 20px;
            font-weight: 400;
        }
    }

    &__permissions {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #808080;
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #808080;
        gap: 12px;
    }
}